# ProFTPD configuration file for Docker.

Include /etc/proftpd/modules.d/*.conf
Include /etc/proftpd/conf.d/*.conf
Include /etc/proftpd/tls.conf

LoadModule mod_tls.c

DefaultRoot /home/data

DefaultServer           on
Group                   proftpd
Port                    21
ServerType              standalone
User                    proftpd
UseIPv6                 off
WtmpLog                 off

AllowOverwrite          on
MaxInstances            30
PassivePorts            {{ PASV_MIN_PORT }} {{ PASV_MAX_PORT }}
ServerName              "{{ SERVER_NAME }}"
TimesGMT                off
Umask                   022

<Directory /home/data>

#Разрешено добавлять, создавать директории,
<Limit APPE MKD STOR STOU XMKD>
  AllowAll
</Limit>

#запрещено менять права
<Limit SITE_CHMOD>
  DenyAll
</Limit>

#Запрещено удалять файлы, удалять дириктории, переименовывать,  
<Limit DELE RMD RNTO XRMD>
  DenyAll
</Limit>

#Запрещено подниматься вверх(CDUP), изменение рабочего каталога(CWD), запрос времени модификации(MDTM)
#печать рабочего каталога(PWD),   
<Limit CDUP CWD LIST MDTM MLSD MLST NLST PWD RNFR STAT XCUP XCWD XPWD>
  DenyAll
</Limit>


<Limit READ>
  DenyAll
</Limit>

</Directory>
